@import "~bootstrap/dist/css/bootstrap.min.css";

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 400 */

.playwrite-gb-j-google-font {
  font-family: "Playwrite GB J", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.rotated {
  transform: rotate(180deg);
  display: flex; /* used to get rid of white space */
}

.suit-icon {
  width: 8em;
  border-top-left-radius: 1em;
  padding-top: 2em;
  padding-left: 1.5em;
}

.img-size {
  width: 6em;
  height: 6em;
}

.top-row,
.bottom-row {
  height: 10em;
  justify-content: center;
}

.center-row {
  justify-content: center;
}

.top-line {
  height: 4em;
  justify-content: center;
  background-color: green;
  justify-content: left;
  margin-left: 10%;
}

.div-cols {
  width: 8em;
  background-color: white;
}

#top-and-bottom-center {
  width: 6em;
  background-color: white;
}

#middle-center {
  width: 12em;
  background-color: white;
  padding: 0;
  text-align: center;
}

#top-right-corner {
  border-top-right-radius: 1em;
}

#bottom-left-corner {
  border-bottom-left-radius: 1em;
}

strong {
  justify-self: center;
  padding: 0%;
}

button {
  color: white;
  border-radius: 6px;
}
