@import "~bootstrap/dist/css/bootstrap.min.css";

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 400 */

.playwrite-gb-j-google-font {
  font-family: "Playwrite GB J", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

#rotated {
  transform: rotate(180deg);
}

.suit-icon {
  width: 8em;
  border-top-left-radius: 1em;
  padding-top: 2em;
  padding-left: 1.5em;
}

.img-size {
  width: 6em;
  height: 6em;
}

.row {
  height: 10em;
}
